/* 
main header color: #212121 
main text and header contacts color: #757575
accent color: #2196F3
footer  contacts color: rgba(255, 255, 255, 0.6)
h1, blocks bgc, footer addres and order button text color: #FFFFFF
order service bgc: #2F303A
bgc: #E5E5E5
*/
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --primary-background-color: #F5F5F5;
    --secondary-background-color: #2F303A;
}

/* global styles */
body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}
ul {
    list-style: none;
}

a {
text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-text-color);
}
/* header and footer styles */
header {
    background-color: #ffffff;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;
}

.logo-part1 {
    color: var(--accent-text-color);
}

.logo-part2 {
    color: #000000;
}

.nav-link {
    color: #212121;
    font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.02em;
}
.nav-link.current {
    color: var(--accent-text-color);
}

.contacnts-link {
    color: #757575;
}

.contacnts-link:hover,
.contacnts-link:focus {
    color: var(--accent-text-color);
}

/* Main styles */
.oreder-section {
    background-color: var(--secondary-background-color);
    color: #FFFFFF;
}

.team-section {
    background-color: #F5F4FA;
}

.team-unit {
    background-color: #ffffff;
}

/* footer styles */
footer {
    background-color: var(--secondary-background-color);
}

address {
    font-style: normal;
}

.address-link {
    color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-text-color);
}
.map-link {
    color: #FFFFFF;
}

/* portfolio styles

